@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-image: url("./images/other/background.png");
}
.none {
  display: none;
}

h1 {
  letter-spacing: 3px;
  font-family: "Pokemon Solid", sans-serif;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0;
  max-width: 1200px;
}

.pokemon {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  margin: 10px;
  text-align: center;
  animation: bounceIn 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  75% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.pokemon .img-container img {
  max-width: 90%;
  margin-top: 10px;
}

.pokemon .info {
  margin-top: 20px;
}
.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

/* load more button */
.loadMore {
  letter-spacing: 3px;

  width: 18rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #d8756a;
  color: white;
  border: none;
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 1rem;
  padding-bottom: 1rem;
  font-family: "Pokemon Solid", sans-serif;
}

.spinner {
  margin-top: 5px;
  position: relative;
}
.spinner img {
  height: 2rem;
  transform: rotate(360deg);
  animation: rotate 3s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
