@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("./images/other/background.png");
  position: relative;
  cursor: url("./images/other/pokeball.ico") 16 16, default;
}

.none {
  display: none;
}

/* header */
.function {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* back to top button */
.toTop {
  position: absolute;
  color: white;
  font-size: 0.5rem;
  background-color: #d8756a;
  width: 3rem;
  height: 2rem;
  text-align: center;
  left: 0.4rem;
  top: 0.4rem;
  text-decoration: none;
  border-radius: 0.2rem;
  opacity: 0.7;
}

/* search bar */
.search {
  top: 0.4rem;
  right: 0.4rem;
  position: absolute;
  opacity: 0.9;
  height: 2rem;
  width: 14rem;
  line-height: 3rem;
  font-size: 1rem;
}

h1 {
  margin-top: 2rem;
  letter-spacing: 3px;
  font-family: "Pokemon Solid", sans-serif;
}

/* card background */
.card-pad {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* pokemon card */
.cards {
  border-radius: 0.2rem;
  height: 80%;
  width: 85%;
  /* min-height: 600px; */
  padding: 2%;
  position: fixed;
  left: auto;
  top: 10%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgba(176, 155, 140, 0.9);
  min-width: 20rem;
}

.details {
  border-radius: 0.2rem;
  background-image: url("./images/other/card-back.jpg");
  width: 100%;
  margin: 0.2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.basic {
  flex-grow: 1.5;
  padding: 0.2rem;
}

#detailImage {
  width: 60%;
  max-width: 256px;
  min-width: 11rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.basic img {
  width: 100%;
}

.stats {
  flex-grow: 1.5;
}
.stats table {
  width: 100%;
}
.stats table th {
  white-space: nowrap;
}
.stats table td {
  width: 80%;
  height: 1.2rem;
}
.stats table td small {
  display: inline-block;

  height: 100%;
  text-align: right;
  width: 2rem;
}

.stats table td span {
  margin-left: 0.1rem;
  height: 90%;
  display: inline-block;
  vertical-align: middle;
}

/* stat color */
.stat.hp td span {
  background-color: #8ac654;
}
.stat.atk td span {
  background-color: #f8cb3c;
}
.stat.def td span {
  background-color: #d98837;
}
.stat.spA td span {
  background-color: #59c3d0;
}
.stat.spD td span {
  background-color: #5890cd;
}
.stat.spe td span {
  background-color: #a456d0;
}

.description {
  padding: 0.2rem;
}
.description p {
  margin-left: 0.6rem;
}

/* main section */
.poke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  max-width: 1200px;
}

.pokemon {
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  margin: 0.5rem;
  text-align: center;
  animation: bounceIn 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pokemon:hover {
  transform: scale(1.05);
  transition: all 0.8s ease;
  /* animation: 1s ease-in; */
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  75% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.pokemon .img-container img {
  max-width: 90%;
  margin-top: 10px;
}

.pokemon .info {
  margin-top: 20px;
}
.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

/* load more button */
.loadMore {
  letter-spacing: 3px;
  cursor: pointer;
  width: 18rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #d8756a;
  color: white;
  border: none;
  font-size: 2rem;
  line-height: 3rem;
  margin: 1rem;
  font-family: "Pokemon Solid", sans-serif;
  text-align: center;
}
.loadMore p {
  height: auto;
  margin: 0;
}

.spinner {
  margin-top: 5px;
  position: relative;
}
.spinner img {
  height: 2rem;
  transform: rotate(360deg);
  animation: rotate 3s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* footer */
.footer {
  font-size: 0.1rem;
  color: rgb(186, 175, 175);
}

@media (max-height: 768px) {
  .cards {
    height: 85%;
  }
}
@media (max-width: 320px) {
  .cards {
    height: 75%;
    min-width: 17rem;
    font-size: 0.4rem;
  }
  .basic img {
    width: 75%;
  }
}
