@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("./images/other/background.png");
  position: relative;
}
.none {
  display: none;
}

h1 {
  letter-spacing: 3px;
  font-family: "Pokemon Solid", sans-serif;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0;
  max-width: 1200px;
  /* position: relative; */
}

/* card background */
.card-pad {
  position: fixed;
  /* vertical-align: middle; */
  bottom: 0;
  height: 200%;
  width: 200vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  backdrop-filter: blur(5px);
}

/* pokemon card */
.cards {
  border-radius: 2rem;
  height: 80%;
  width: 85%;
  padding: 2%;
  position: fixed;
  left: auto;
  top: 10%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgba(176, 155, 140, 0.9);
}

.details {
  border-radius: 1rem;
  background-image: url("./images/other/card-back.jpg");
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.basic {
  flex-grow: 1.5;
}

.basic img {
  /* background-color: #d8756a; */
  width: 12rem;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
}

.stats {
  flex-grow: 1.5;
}
.stats table {
  width: 100%;
}
.stats table th {
  white-space: nowrap;
}
.stats table td {
  width: 70%;
  height: 1.2rem;
}
.stats table td small {
  display: inline-block;

  height: 100%;
  text-align: right;
  width: 2rem;
}

.stats table td span {
  margin-left: 0.5rem;
  height: 90%;
  display: inline-block;
  vertical-align: middle;
}

/* stat color */
.stat.hp td span {
  background-color: #8ac654;
}
.stat.atk td span {
  background-color: #f8cb3c;
}
.stat.def td span {
  background-color: #d98837;
}
.stat.spA td span {
  background-color: #59c3d0;
}
.stat.spD td span {
  background-color: #5890cd;
}
.stat.spe td span {
  background-color: #a456d0;
}
/* main page */

.pokemon {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  margin: 10px;
  text-align: center;
  animation: bounceIn 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pokemon:hover {
  transform: scale(1.05);
  transition: all 0.8s ease;
  /* animation: 1s ease-in; */
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  75% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.pokemon .img-container img {
  max-width: 90%;
  margin-top: 10px;
}

.pokemon .info {
  margin-top: 20px;
}
.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

/* load more button */
.loadMore {
  letter-spacing: 3px;
  cursor: pointer;
  width: 18rem;
  height: 3rem;
  border-radius: 50px;
  background-color: #d8756a;
  color: white;
  border: none;
  font-size: 2rem;
  line-height: 3rem;
  margin: 1rem;
  font-family: "Pokemon Solid", sans-serif;
}

.spinner {
  margin-top: 5px;
  position: relative;
}
.spinner img {
  height: 2rem;
  transform: rotate(360deg);
  animation: rotate 3s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
